/* Reset some default browser styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Apply a background color and center content vertically */
body {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Style the upload form */
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="file"] {
    display: none;
}

label {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

label:hover {
    background-color: #0056b3;
}

input[type="submit"] {
    display: block;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style the results page */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

/* Style the error page */
a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
