<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre Prediction from Text</title>
</head>
<body>
    <h1>Genre Prediction from Text</h1>
    <form method="post" action="{{ url_for('genretext_blueprint.predicted_genre') }}" method="post" enctype="multipart/form-data">
        <label for="keywords">Enter Keywords (comma-separated):</label>
        <input type="text" id="keywords" name="keywords" required>
        <button type="submit">Predicted Genre</button>
    </form>
</body>
</html>
